{
    "Resources": {
        "S3B1DYIN": {
            "Type": "AWS::S3::Bucket",
            "Properties": {
              "BucketName" : "ztestl1411lambda141120",
              "NotificationConfiguration" : {
                "LambdaConfigurations" : [
                  {
                    "Event" : "s3:ObjectCreated:*",
                    "Function" : "arn:aws:lambda:us-east-1:960780153193:function:s3getobject" 
                  }
                ]
              }
            }
        }
    }
}